@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav{
    max-width: 1600px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.studio-icon{
    border-radius: 12%;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.studio-icon:hover{
    border-color: #fff;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 6rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
   background-color: #1e40af; 
}

.container{
    max-width: 2000px;
    margin: auto;
}

.container img{
    position: absolute; /* Position image absolutely within container */
    top: 0; /* Align image to top of container */
    left: 0; /* Align image to left of container */
    width: 100%; /* Stretch image to container width for full background */
    height: 100%; /* Stretch image to container height for full background */
    object-fit: cover; /* Ensure image covers container while maintaining aspect ratio */
    filter: blur(4px); /* Maintain blur effect */
    z-index: -1; /* Place image behind content (optional for some browsers) */
}

header{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}

header .content{
    margin-top: 8rem;
    margin-bottom: 8rem;
    z-index: 1;
}

header .content h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
    justify-content: center;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content div{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

header .content p{
    display: flex;
    font-size: 1.35rem;
    font-weight: 500;
    justify-content: center;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image img{
    max-width: 600px;
    margin: auto;
}
